<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li> Puppy Name: <%= @name %></li>
      <li> Puppy Breed: <%= @breed %></li>
      <li> Puppy Age: <%= @age %></li>
    </ul>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li> Puppy Name: <%= @name %> </li>
      <li> Puppy Breed: <%= @breed %> </li>
      <li> Puppy Age: <%= @age %> </li>
      </ul>
  </body>
</html>
